<a class="skip-link" href="#main">Skip to content</a>
<header class="site-header">
  <div class="container site-header-row">
    <a class="brand" href="{{ '/' | relative_url }}" rel="home">
      <img class="brand-mark" src="{{ '/assets/images/logo.png' | relative_url }}" alt="" width="32" height="32" decoding="async">
      <span class="brand-name">
        <span class="brand-name-utm">UTM</span>
        <span class="brand-name-blog">Blog</span>
      </span>
    </a>

    {% include platform-links.html %}
  </div>
</header>
